<h2>ユーザ情報登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :名前%><br>
  <%= f.text_field :name, autofocus: true  %>
  </div>

  <div class="field">
  <%= f.label :ユーザイメージ %><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br>
    <%= f.number_field :age %>
  </div>


  <div class="sex-field">
    <%= f.label :性別 %><br>
    <%= f.label :男  %>
    <%= f.radio_button :sex, :man %>
    <%= f.label :女  %>
    <%= f.radio_button :sex, :woman %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(最低<%= @minimum_password_length %>文字以上入力してください)</em>
    <% end %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワードを確認 %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>


