
<h1>Posts#index</h1>
<p><%= @user %> </p>
<p>Find me in app/views/posts/index.html.erb</p>
<h2>ALL POST!</h2>
<%= link_to 'New Post!', new_post_path %>
<table>
  <p>検索</p>
  <%= form_tag(search_posts_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>
  <tr>
    <th>title</th>
    <th>text</th>
    <th colspan="3"></th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%=link_to(post.rname, "/posts/#{post.id}" )%></td>
    <td><%= image_tag post.rimage.to_s %></td>
    <td>


    <canvas id="myChart" class="col-xs-12 col-sm-12 col-md-6" style="position: relative; height:10; width:7"></canvas>
    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
        labels: ["エネルギー", "タンパク質", "脂質", "糖質", "食物繊維", "カリウム", "カルシウム", "鉄", "亜鉛", "ビタミンA", "ビタミンB1", "ビタミンB2", "ビタミンC", "食塩相当量"],
        datasets: [{
          label: gon.user,
          backgroundColor: "rgba(0,0,80,0.4)",
          borderColor: "rgba(0,0,80,1)",
          data: [80, 90, 60, 70, 100, 70, 70, 70, 70, 70, 70, 70, 70, 70]
        }, {
          label: 'B_kun',
          backgroundColor: "rgba(0,255,0,0.4)",
          borderColor: "rgba(0,255,0,1)",
          data: [90, 75, 80, 65, 80, 70, 70, 70, 70, 70, 70, 70, 70, 70]
        }]
      }
    });
    </script>







    </td>
  </tr>
  <% end %>
</table>
