
<h2>"投稿一覧"</h2>
<h1>Ajax#index</h1>


  <p>検索</p>
 
  <%= form_tag(search_posts_path,:method => 'get') do %>
    <%= text_field_tag :search %>
    
<%= radio_button_tag("r1", "ascend") %>
<%= label_tag("order", "昇順") %>

<%= radio_button_tag("r1", "descend") %>
<%= label_tag("order", "降順") %><br>

<%= radio_button_tag("r2", "Energy") %>
<%= label_tag("rdio2", "ｴﾈﾙｷﾞｰ") %>

<%= radio_button_tag("r2", "Protein") %>
<%= label_tag("rdio2", "ﾀﾝﾊﾟｸ質") %>

<%= radio_button_tag("r2", "Lipid") %>
<%= label_tag("rdio2", "脂質") %>

<%= radio_button_tag("r2", "Carbohydrate") %>
<%= label_tag("rdio2", "糖質") %>

<%= radio_button_tag("r2", "Dietary_fiber") %>
<%= label_tag("rdio2", "食物繊維") %>

<%= radio_button_tag("r2", "Potassium") %>
<%= label_tag("rdio2", "ｶﾘｳﾑ") %>
<%= radio_button_tag("r2", "Calcium") %>
<%= label_tag("rdio2", "ｶﾙｼｳﾑ") %>

<%= radio_button_tag("r2", "iron") %>
<%= label_tag("rdio2", "鉄") %>
<%= radio_button_tag("r2", "Zinc") %>
<%= label_tag("rdio2", "亜鉛") %>

<%= radio_button_tag("r2", "VitaminA") %>
<%= label_tag("rdio2", "ﾋﾞﾀﾐﾝa") %>
<%= radio_button_tag("r2", "VitaminB1") %>
<%= label_tag("rdio2", "ﾋﾞﾀﾐﾝb1") %>

<%= radio_button_tag("r2", "VitaminB2") %>
<%= label_tag("rdio2", "ﾋﾞﾀﾐﾝb2") %>
<%= radio_button_tag("r2", "VitaminC") %>
<%= label_tag("rdio2", "ﾋﾞﾀﾐﾝc") %>

<%= radio_button_tag("r2", "Salt_equivalent") %>
<%= label_tag("rdio2", "食塩相当量") %>

<button type="button" onclick="radioDeselection()">選択解除</button>

    <%= submit_tag 'Search', :name => nil %>
  <% end %>



  



  <!--
  <% @stds.each do |std| %>
    <p><%= std.Category %>
    <p><%= std.xEnergy %>
    <p><%= std.xProtein %>
    <p><%= std.xLipid %>
    <p><%= std.xCarbohydrate %>
    <p><%= std.xDietary_fiber %>
    <p><%= std.xPotassium %>
    <p><%= std.xCalcium %>
    <p><%= std.xiron %>
    <p><%= std.xZinc %>
    <p><%= std.xVitaminA %>
    <p><%= std.xVitaminB1 %>
    <p><%= std.xVitaminB2 %>
    <p><%= std.xVitaminC %>
    <p><%= std.xSalt_equivalent %>
    <% end %>
    -->
<% @posts.each_with_index do |post, i| %>

  <div class="row">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="row">
        
          <div class="col-6 col-sm-12 col-md-12 col-lg-12" id="<%= i %>">
            <%=link_to(post.rname, "/posts/#{post.id}" )%><br>
            <%= image_tag post.rimage.to_s, class: "img-fluid" %>
          
          </div>

          <div class="col-6 col-sm-12 col-md-12 col-lg-12">
            <%= post.rinformation %>
          </div>   
        
        </div>
      </div>

     

      <div class="col-xs-11 col-sm-6 col-md-6 col-lg-4">

        <div><canvas class="canvas chart-container" style="position: relative;  width:60vw; height:60vh"></div>
      
      </div>

    </div>

  </div>
  </div>
    
  

<% end %>
  <script>

  function radioDeselection() {
    for (const element of document.getElementsByName('r1')) {
      element.checked = false;
    }
    for (const element of document.getElementsByName('r2')) {
      element.checked = false;
    }
  }





    var canvases = document.querySelectorAll("canvas.canvas");
    let posts = gon.posts
    console.log(posts)
    let pn_ratio =  {
      Energy: '0',
      Protein: '0',
      Lipid: '0',
      Carbohydrate: '0',
      Dietary_fiber: '0',
      Potassium: '0',
      Calcium: '0',
      iron: '0',
      Zinc: '0',
      VitaminA: '0',
      VitaminB1: '0',
      VitaminB2: '0',
      VitaminC: '0',
      Salt_equivalent: '0'       
     };
     let pn_keys = Object.keys(pn_ratio)
     console.log(`gon.std: ${gon.std}`)
     let std = gon.std
     console.log(`std: ${std}`)
    canvases.forEach((canvas, idx) => {
      let post = posts[idx]
      console.log(`post: ${JSON.stringify(post)}`)
      console.log(`post.Energy: ${post.Energy}`)

      for (let i = 0; i < 14; i++){

        let pn_key = pn_keys[i]
        let std_key = 'x' + pn_key
        console.log(`pn_key: ${pn_key}`)
        console.log(`std_key: ${std_key}`)
        console.log(`std: ${std}`)
        let num1 = parseFloat(post[pn_key])
        let num2 = parseFloat(std[std_key])
        console.log(`num1: ${JSON.stringify(num1)}`)
        console.log(`num2: ${JSON.stringify(num2)}`)
        pn_ratio[pn_key] = num1 / num2 * 100;
         console.log(`pn_ratio[pn_key]: ${JSON.stringify(pn_ratio[pn_key])}`)


        
        if (pn_ratio[pn_key] === null || pn_ratio[pn_key] < 0) {
          pn_ratio[pn_key] = 0
        }else if(pn_ratio[pn_key] > 150){
          pn_ratio[pn_key] = 150
        }


      }

      new Chart(canvas, {
        type: 'radar',
        data: {
          labels: ["エネルギー", "タンパク質", "脂質", "糖質", "食物繊維", "カリウム", "カルシウム", "鉄", "亜鉛", "ビタミンA", "ビタミンB1", "ビタミンB2", "ビタミンC", "食塩相当量"],
          datasets: [{
            label: '摂取基準',
            backgroundColor: "rgba(0,0,80,0.4)",
            borderColor: "rgba(0,0,80,1)",
            data: [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
          }, {
            label: 'レシピの栄養比率',
            backgroundColor: "rgba(0,255,0,0.4)",
            borderColor: "rgba(0,255,0,1)",
            data: [pn_ratio.Energy, pn_ratio.Protein, pn_ratio.Lipid, pn_ratio.Carbohydrate, pn_ratio.Dietary_fiber, pn_ratio.Potassium, pn_ratio.Calcium, pn_ratio.iron, pn_ratio.Zinc, pn_ratio.VitaminA, pn_ratio.VitaminB1, pn_ratio.VitaminB2, pn_ratio.VitaminC, pn_ratio.Salt_equivalent]
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scale: {
            
                Min: 0,
                Max: 120
            
          }
        }
      });
    })
  </script>
