<<canvas id="myChart"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: ["Japanese", "Mathematics", "English", "Social studies", "Science"],
    datasets: [{
      label: 'A_kun',
      backgroundColor: "rgba(0,0,80,0.4)",
      borderColor: "rgba(0,0,80,1)",
      data: [80, 90, 60, 70, 100, 70]
    }, {
      label: 'B_kun',
      backgroundColor: "rgba(0,255,0,0.4)",
      borderColor: "rgba(0,255,0,1)",
      data: [90, 75, 80, 65, 80, 70]
    }]
  }
});
</script>h1>Post page</h1>
<p>Find me in app/views/posts/new.html.erb</p>
  <%= form_with model: @post, local: true do |form| %>
    <div class="field">
      <%= form.label :rname%><br>
      <%= form.text_field :rname%>
    </div>

    <div class="field">
    <%= form.label :rimage %><br/>
      <%= form.file_field :rimage %>
    </div>


    <div class="field">
      <%= form.label :rinformation%><br>
      <%= form.text_area :rinformation%>

    </div>

    <div class="field">
      <%= form.label :ingredient%><br>
      <%= form.text_area :ingredient%>

    </div>


    <div class="field">
      <%= form.label :procedure_1%><br>
      <%= form.text_area :procedure_1%>

    </div>

    <div class="field">
      <%= form.label :procedure_2%><br>
      <%= form.text_area :procedure_2%>

    </div>

    <div class="field">
      <%= form.label :procedure_3%><br>
      <%= form.text_area :procedure_3%>

    </div>
  <div class="actions">
      <%= form.submit %>

    </div>
  <% end %>
