<h1>Post page</h1>
<p>Find me in app/views/posts/new.html.erb</p>
    <div>
      <%=@post.rname%><br>
    </div>

    <div>
      <td><%= image_tag @post.rimage.to_s %></td>
    </div>
    <div>
      <%=@post.rinformation%><br>

    </div>

    <div>
      <%=@post.ingredient%><br>

    </div>


    <div>
      <%=@post.procedure_1%><br>

    </div>

    <div>
      <%=@post.procedure_2%><br>

    </div>

    <div>
      <%=@post.procedure_3%><br>

    </div>
