<h1>Post page</h1>
<p>Find me in app/views/posts/new.html.erb</p>
    <div>
      <%=@post.rname%><br>
    </div>

    <h5>お気に入り件数: <%= @post.likes.count %></h5>
    <% if current_user.already_liked?(@post) %>
      <%= button_to 'お気に入りを取り消す', post_like_path(@post), method: :delete %>
    <% else %>
      <%= button_to 'お気に入り', post_likes_path(@post) %>
    <% end %>

    <div>
      <td><%= image_tag @post.rimage.to_s %></td>
    </div>
    <div>
      <%=@post.rinformation%><br>

    </div>

    <div>
      <%=@post.ingredient%><br>

    </div>


    <div>
      <%=@post.procedure_1%><br>

    </div>

    <div>
      <%=@post.procedure_2%><br>

    </div>

    <div>
      <%=@post.procedure_3%><br>

    </div>

    <div>
    <table>
    <tbody>
    <tr>
    <th>エネルギー</th>
    <th>タンパク質</th>
    <th>脂質</th>
    <th>炭水化物</th>
    <th>食物繊維</th>
    <th>カリウム</th>
    <th>カルシウム</th>
    </tr>
    <tr>
    <td><%=@post.Energy%></td>
    <td><%=@post.Protein%></td>
    <td><%=@post.Lipid%></td>
    <td><%=@post.Carbohydrate%></td>
    <td><%=@post.Dietary_fiber%></td>
    <td><%=@post.Potassium%></td>
    <td><%=@post.Calcium%></td>
    </tr>
    </tbody>
    </table>

    <table>
    <tbody>
    <tr>
    <th>鉄</th>
    <th>亜鉛</th>
    <th>ビタミンA</th>
    <th>ビタミンB1</th>
    <th>ビタミンB2</th>
    <th>ビタミンC</th>
    <th>食塩相当量</th>
    </tr>
    <tr>
    <td><%=@post.iron%></td>
    <td><%=@post.Zinc%></td>
    <td><%=@post.VitaminA%></td>
    <td><%=@post.VitaminB1%></td>
    <td><%=@post.VitaminB2%></td>
    <td><%=@post.VitaminC%></td>
    <td><%=@post.Salt_equivalent%></td>
    </tr>
    </tbody>
    </table>

    </div>
