<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag("zatsu_meshi.png"), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href=root_path>Home</a>
      </li>
      <!-- ドロップダウンタイプ -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          食事摂取基準
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <% if user_signed_in? %>


          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        <% else %>



        <% end %>

        </div>

      
      <% if user_signed_in? %>
      <li class="nav-item" >
        <%= link_to "ユーザ情報を編集", edit_user_registration_path %>
      </li>
      <li class="nav-item" >
        <%= link_to "ログアウト", destroy_user_session_path %>
      </li>

      <li class="nav-item" >
        <%= link_to "レシピ作成", new_post_path %>
      </li>
      <li class="nav-item" >
        <%= link_to "作成したレシピ", user_list_path(current_user.id) %>
      </li>
      <li class="nav-item" >
        <%= link_to "お気に入り", like_list_path(current_user.id) %>
      </li>

      <% else %>
      <li class="nav-item" >
        <%= link_to "登録", new_user_registration_path %>

      </li>
      <li class="nav-item" >
        <%= link_to "ログイン", new_user_session_path %>



      <% end %>
      

    </ul>

  </div>
</nav>



    <div class="container-fluid">
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>


    <%= yield %>
    </div>
  </body>
</html>


