<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-info navbar-expand-lg">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <%= image_tag "zatsu_meshi.png" %>
          </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to '"' + current_user.name + '"でログイン中', edit_user_registration_path, class: "btn btn-primary"  %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary"  %></li>
        <% else %>
          <li class="nav-item">
            <%= link_to "登録",new_user_registration_path, class: "btn btn-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン",new_user_session_path, class:"btn btn-primary" %>
          </li>
         <% end %>
      </ul>
    </nav>







    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
