<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="navbar navbar-dark bg-info">
        <li class="nav-item">
          <img src="zatsu_meshi.png" alt="">
        </li>
        <li class="nav-item">
          <%= link_to "登録",new_user_registration_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン",new_user_session_path, class:"btn btn-primary" %>
        </li>
      </ul>
    </nav>







    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
